{{>fragments/header}}
<div class="row">
    <form align="center" action="/hospitals" method="get" style="height: 40px;">
        <input type="radio" name="sortBy" value="reviewCnt" id="reviewCnt"> 리뷰 많은 순</input>
        <input type="radio" name="sortBy" value="starAvg" id="starAvg"> 별점 높은 순</input>

        <select id="region" style="height: 100%" onchange="javascript:change_region(this)">
        </select>
        <select id="cityId" name="cityId" style="height: 100%">
        </select>
        <select name="statusCode" style="height: 100%">
            <option value="">영업상태</option>
            <option id="13" value=13>영업중</option>
            <option id="2" value=2>휴업</option>
            <option id="3" value=3>폐업</option>
            <option id="24" value=24>직권폐업</option>
        </select>
        <select name="type" style="height: 100%">
            <option value="">업태구분명</option>
            <option id="의원" value="의원">의원</option>
            <option id="치과의원" value="치과의원">치과의원</option>
            <option id="보건의료원" value="보건의료원">보건의료원</option>
            <option id="보건진료소" value="보건진료소">보건진료소</option>
            <option id="보건소" value="보건소">보건소</option>
            <option id="조산원" value="조산원">조산원</option>
            <option id="보건지소" value="보건지소">보건지소</option>
            <option id="한의원" value="한의원">한의원</option>
        </select>
        <div style="display: inline; height: 40px;">
            <input  type="text" placeholder="병원명으로 검색" style="height: 100%; width: 300px" name="keyword"/>
            <button type="submit" class="btn btn-success" style="height: 100%;">검색</button>
        </div>
    </form>
</div>
<br/>
<div class="row">
    <div class="offset-1 col-10">
        <h3>병원수 : {{cnt}}개</h3>

        <table class="table list-table table-hover text-center">
            <thead class="table-warning">
            <tr>
                <th>id</th>
                <th>업태구분명</th>
                <th>병원명</th>
                <th>영업상태</th>
                <th>주소</th>
                <th>전화</th>
                <th>리뷰 개수</th>
                <th>별점</th>
            </tr>
            </thead>
            <tbody>
            {{#hospitals}}
                <tr onclick="location.href='/hospitals/{{id}}'">
                    <th>{{id}}</th>
                    <th>{{type}}</th>
                    <th>{{name}}</th>
                    <th>{{status}}</th>
                    <th>{{roadNameAddress}}</th>
                    <th>{{phone}}</th>
                    <th>{{reviewCnt}}</th>
                    <th>{{starAvg}}</th>
                </tr>
            {{/hospitals}}
            </tbody>
        </table>
    </div>
</div>
<br/>
<ul class="pagination justify-content-center">
    <li class="page-item"><a id="firstPageLink" class="page-link" onclick="to_first_page()">&laquo;</a></li>
    <li id="previousPage" class="page-item"><a id="previousPageLink" class="page-link" onclick="to_previous_page()"></a></li>
    <li id="nowPage" class="page-item active"><a id="nowPageLink" class="page-link" onclick="to_now_page()"></a></li>
    <li id="nextPage" class="page-item"><a id="nextPageLink" class="page-link" onclick="to_next_page()"></a></li>
    <li class="page-item"><a id="lastPageLink" class="page-link" onclick="to_last_page()">&raquo;</a></li>
</ul>

<script type="text/javascript">

    function change_region(e) {
        let region = e.value;
        console.log(region)
        let target = document.getElementById("cityId");
        target.options.length = 0;

        {{#stateList}}
            if ("{{region}}" == region){
                let opt = document.createElement("option");
                opt.value = "{{id}}";
                opt.innerText = "{{state}}";
                if ("{{id}}" == {{cityId}}) {
                    opt.selected = true;
                }
                target.appendChild(opt);
            }
        {{/stateList}}
    }

    window.onload = function () {

        // 지역 검색 Select 만들기
        let region = document.getElementById("region");
        region.options.length = 0;
        let opt;

        {{#regionList}}
            opt = document.createElement("option");
            opt.value = "{{region}}";
            opt.innerText = "{{region}}";
            if ("{{region}}" == "{{selectedRegion}}") {
                opt.selected = true;
                change_region(opt);
            }
            region.appendChild(opt);
        {{/regionList}}


        // 검색 값 유지 처리
        {{#statusCode}}
            document.getElementById('{{statusCode}}').setAttribute("selected", true)
        {{/statusCode}}
        {{#type}}
            document.getElementById('{{type}}').setAttribute("selected", true)
        {{/type}}
        {{#keyword}}
            document.getElementsByName('keyword').item(0).value = '{{keyword}}';
        {{/keyword}}
        {{#sortBy}}
            document.getElementById('{{sortBy}}').setAttribute("checked", true);
        {{/sortBy}}

        // 페이지 버튼 출력 처리
        {{#isFirstPage}}
            document.getElementById('firstPageLink').className = "page-link disabled";
            document.getElementById('previousPage').className = "page-item active readonly";
            document.getElementById('nowPage').className = "page-item";
            document.getElementById('previousPageLink').textContent = 1;

            if ({{lastPage}} >= 2) {
                document.getElementById('nowPageLink').textContent = 2;
            } else {
                document.getElementById('nowPageLink').className = 'hidden';
                document.getElementById('lastPageLink').className = "page-link disabled";
            }

            if ({{lastPage}} >= 3) {
                document.getElementById('nextPageLink').textContent = 3;
            } else {
                document.getElementById('nextPageLink').className = 'hidden';
            }
        {{/isFirstPage}}
        {{#isLastPage}}
            document.getElementById('lastPageLink').className = "page-link disabled";
            document.getElementById('nextPage').className = "page-item active readonly";
            document.getElementById('nowPage').className = "page-item";

            document.getElementById('previousPageLink').textContent = {{nowPage}} - 2;
            document.getElementById('nowPageLink').textContent = {{nowPage}} - 1;
            document.getElementById('nextPageLink').textContent = {{nowPage}};

            if ({{nowPage}} == 2) {
                document.getElementById('previousPageLink').className = 'hidden';
            document.getElementById('previousPageLink').textContent = "";
            }

        {{/isLastPage}}
        {{^isFirstPage}}
            {{^isLastPage}}
                document.getElementById('lastPageLink').className = "page-link";
                document.getElementById('previousPageLink').textContent = {{nowPage}} - 1;
                document.getElementById('nowPageLink').textContent = {{nowPage}};
                document.getElementById('nextPageLink').textContent = {{nowPage}} + 1;
            {{/isLastPage}}
        {{/isFirstPage}}
    }

    // 페이지 이동 처리
    function to_first_page() {
        location.href = make_url("/hospitals?page=1")
    }
    function to_previous_page() {
        {{#isLastPage}}
            location.href = make_url("/hospitals?page=" + ({{nowPage}} - 2))
        {{/isLastPage}}
        {{^isLastPage}}
            location.href = make_url("/hospitals?page=" + ({{nowPage}} - 1))
        {{/isLastPage}}
    }
    function to_now_page() {
        {{#isFirstPage}}
            location.href =  make_url("/hospitals?page=2")
        {{/isFirstPage}}
        {{#isLastPage}}
            location.href = make_url("/hospitals?page=" + ({{nowPage}} - 1))
        {{/isLastPage}}
    }
    function to_next_page() {
        {{#isFirstPage}}
            location.href =  make_url("/hospitals?page=3")
        {{/isFirstPage}}
        {{^isFirstPage}}
            location.href = make_url("/hospitals?page=" + ({{nowPage}} + 1))
        {{/isFirstPage}}
    }
    function to_last_page() {
        location.href = make_url("/hospitals?page={{lastPage}}")
    }

    function make_url(url) {
        {{#cityId}}
            url += "&cityId={{cityId}}"
        {{/cityId}}
        {{#selectedState}}
            url += "&region={{selectedState}}"
        {{/selectedState}}
        {{#statusCode}}
            url += "&statusCode={{statusCode}}"
        {{/statusCode}}
        {{#type}}
            url += "&type={{type}}"
        {{/type}}
        {{#keyword}}
            url += "&keyword={{keyword}}"
        {{/keyword}}
        {{#sortBy}}
            url += "&sortBy={{sortBy}}"
        {{/sortBy}}
        return url
    }
</script>

{{>fragments/footer}}