<br/>
<hr/>
<div class="mx-4 my-3">
    <h5>전국 병원 정보 프로젝트</h5>
    <h6>2022년 10월 기준 전국에 등록된 병원 리스트 조회 및 리뷰 작성 가능한 사이트</h6>
</div>

<!-- Bootstrap 5.2.3 Version -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>